* {
    font-family: Solway;
}

section {
    text-align: center;
}

button {
    padding: 0.5em 1em;
    background: teal;
    border: thin solid teal;
    color: white;
    font-size: 1em;
    font-weight: bolder;
    margin: 0 1em;
    border-radius: 5px;
    outline: none;
}

.score {
    position: absolute;
    top: 7%;
    left: 90%;
    font-size: 3em;
    background: #ec8787;
    padding: 1em;
    border-radius: 50%;
}

.result {
    font-size: 4em;
}

.correct {
    background-color: green !important;
}

.wrong {
    background-color: red !important;
}