<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Solway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>Mock Test</title>
</head>

<body ng-app="examApp">
    <main>
        <!-- ng-controller registers the controller that is going to "govern" the section -->
        <section ng-controller="examController">
            <div ng-if="!isExamOver" class="exam-container">
                <div class="question">
                    <h2>{{ questions[currentQuestionIndex]['question'] }}</h2>
                </div>
                <div class="options">
                    <button 
                    ng-repeat="option in questions[currentQuestionIndex]['options']"
                    ng-click="submitAnswer(option)"
                    ng-class="{ 
                        correct: submittedAnswer === questions[currentQuestionIndex]['answer'] && questionIsAnswered && submittedAnswer === option, 
                        wrong: submittedAnswer !== questions[currentQuestionIndex]['answer'] && questionIsAnswered && submittedAnswer === option}">
                        {{ option }}
                    </button>
                </div>
            </div>

            <div ng-if="isExamOver" class="result">
                Your Score Is - {{ score }}
            </div>
        </section>
    </main>

    <!-- attaching our angular code at the end of the body -->
    <script src="./exam.js"></script>
    <script src="./controllers/exam-controller.js"></script>
</body>

</html>